header
  .hide-xs
    nav.navbar.primary.shadow.fixed.top
      .container
        a.logo(href='/')
          img(src="/images/logo.png", alt="RecomendationcesParaTi")

        .expand
        .nologin.start-hide
          ul.flex
            li.ph-3
              a.button.secondary(href='/registro') Registro
            li
              a(href='/iniciar-sesion') Iniciar Sesión
        .login.start-hide.relative
          a.dropdown(aria-controls='menu-login')
            span
              i.fas.fa-user-circle.fa-fw
              | #{' '}
              span Hola
              | #{' '}
              span.userEmail
            span.icon.ml-1
              i.fas.fa-arrow-down.fa-fw
          #menu-login.dropdown-list.right.shadow
            ul.list-categories(role='menu')
              li(role='menuitem')
                a.item(href='/proyectos')
                  i.fas.fa-shopping-bag
                  | #{' '}Proyectos
              li.hr
              li(role='menuitem')
                a.item(href='/cerrar-sesion')
                  i.fas.fa-sign-out-alt
                  | #{' '}Cerrar Sesión

  .show-xs
    nav.navbar.primary.shadow.fixed.top
      ul.flex.w-100
        li
          a.sidenav-action.w-4.justify-content-center(href='#' data-target='#mobile-menu')
            i.fas.fa-bars
            span.out-screen Menú
        li.expand
          a.logo.justify-content-center(href='/') RecomendationcesParaTi

  nav#mobile-menu.sidenav
    .sidenav-body
      .white-500.w-100.flex.h-3
        .w-100.title.tc.b Cuenta

      ul.list(role='menu')
        li(role='menuitem')
          a(href='/iniciar-sesion') Iniciar Sesión

      ul.list(role='menu')
        li(role='menuitem')
          a(href='/')
            i.fas.fa-shopping-bag
            | #{' '}Proyectos
        li(role='menuitem')
          a(href='/cerrar-sesion')
            i.fas.fa-sign-out-alt
            | #{' '}Cerrar Sesión
